html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; font-size: 14px;font-size: 0.875rem;}
html *{outline:0;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{min-width:320px;color:#565656;background: #f9f9f9;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
[lang|=en],[lang|=en] body{font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
[lang|=zh],[lang|=zh] body{font-family:"Microsoft Yahei",SimHei,STHeiti,sans-serif;}
label[for]{cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
label.invalid{color: red; text-decoration: underline;}
input.invalid,select.invalid{border-bottom: 1px solid red!important;}
input[type=number]{-webkit-appearance:none;appearance:none;-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
.range{white-space:nowrap}
.range .form-control{display:inline-block;max-width:45%;max-width:calc(50% - 1em - 8px)}
.range .input-group{max-width:45%;max-width:calc(50% - 1em - 8px)}
.range .input-group .form-control{display:block;max-width:none}
.range .hyphen:before{content:"-"}
.hidden,[hidden]{display:none!important}
.row{margin-right: 0;margin-left: 0;}
.global-notice .no-cookie{display:none}
.no-cookies .global-notice .no-cookie{display:none}
.text-vtop{vertical-align:top!important}
.text-vmiddle{vertical-align:middle!important}
.text-vbottom{vertical-align:bottom!important}
.text-break{word-break:break-all!important}
.ui-datepicker{z-index:1600!important;position: relative;}
.sys-blue{color: #0099CC;}
.sys-underline{text-decoration: underline}
#sina-emotion{z-index:1600!important;position: relative;}
#sina-emotion .face { width: 25px; box-sizing: unset }
.sina-emotion-content img{width: 24px!important;height: 24px!important;}
[contenteditable]{-webkit-user-select:auto!important}
a{color:inherit;text-decoration: none;}
a:hover,a:focus{color:inherit;text-decoration:none}
h1,h2,h3,h4,h5,h6{margin:0;font-weight: normal}
li{list-style: none}
select[multiple],select[size],textarea{resize:vertical}
.font-10{font-size: 10px;font-size: 0.625rem;}
.font-12{font-size: 12px;font-size: 0.75rem;}
.font-14{font-size: 14px;font-size:0.875rem;}
.font-16{font-size: 16px;font-size:1rem;}
.font-18{font-size: 16px;font-size:1.125rem;}
.font-20{font-size: 16px;font-size:1.25rem;}
.font-24{font-size: 24px;font-size:1.5rem;}
.font-24{font-size: 30px;font-size:1.875rem;}
.font-24{font-size: 32px;font-size:2rem;}
.font-color-0{color:#000}
.font-color-orange{color:#fd9030}
.padding-10{padding:0 10px}
.padding-15{padding:0 15px 0 10px}
.padding-20{padding:0 20px}
.padding-30{padding:0 30px}
.padding-10-10{padding:10px 10px}
.padding-10-15{padding:10px 15px}
.padding-0-10{padding:10px 0}
.padding-0-5{padding:5px 0}
.padding-0{padding:0}
.margin-10{margin:10px 0}
.h7{font-size: 0.75rem;}
.h8{font-size: 0.5rem;}
.input-box{position:relative}
.bulk-box{border: 1px solid #e1e3ea;padding-left:10px}
.table th{font-weight:normal}
.table.table-no-border>tbody>tr>td,.table.table-no-border>tbody>tr>th,.table.table-no-border>tfoot>tr>td,.table.table-no-border>tfoot>tr>th,.table.table-no-border>thead>tr>td,.table.table-no-border>thead>tr>th{border:none}
[type=file]::-ms-browse{background:none;border:none}
[type=file].form-control.preview+.preview{display:none;position:absolute;bottom:100%;left:0;width:100px;max-height:100px}
[type=file].form-control.preview:hover+.preview{display:block}
.container{padding: 0;}
.container .container{max-width:100%}
.breadcrumb{padding: 0.5rem 0;margin-bottom: 0;}
.message-box .alert{display: flex;justify-content: space-between;align-items: center;}
.message-box .alert:first-child{margin-top:10px}
.header .logo img{width:93px}
.header .logo a strong{line-height:4;font-weight:normal}
/*论坛header*/
.index-home{background: #f9f9f9}
.header-top{background: #e6e4e4;padding:5px 0}
.header-top .header-right{text-align: right;margin:0;}
.header-top .header-right li{display: inline-block;padding:0;text-align: center;border-right:2px solid #f0efef;}
.header-top .header-right li i{padding-left:5px;}
.header-top .header-right li a{color:#3a3a3a}
.header-top .header-right li:last-child{border-right:none}
.check-redColor{color:#0099CC}
.prompt{display:block; background:#0099CC; border-radius:50%; width:5px; height:5px; top:0px; right:20%; position:absolute}
.header-top .header-right .prompt-txt{color:#0099CC;display: inline-block;position: absolute;top:0}
.header-top .header-right .notice {width:19px;height:19px; background: #0099CC; line-height:19px;color:#fff;text-align:center;border-radius:50%; right:auto;top:-5px}
.header-top .header-right .prompt-txt a{color:#fff;position:absolute;right:25%;top:1px}
.header .quick-search .form-control{border:none;box-shadow: none}
.header .input-group-addon{padding:0 10px;background: #fff;border:none;border-radius: 0}
.header .input-group-addon span{color:#a4a4a4}
.header .search-box{border:1px solid #0099CC;align-items: center;}
.header .input-addon-style{background: #0099CC;padding:0}
.header .input-addon-style .btn{background: #0099CC;border-radius: 0;color:#fff;}
.header .input-addon-style .btn:active{box-shadow: none}
.header .list-header .search-nav{padding:.75rem 0 0 0}
.header .quick-search{padding:30px 0;}

.clearfix{*zoom:1}
.clearfix{overflow: hidden;_height:1%}
.nav-box{position:relative;height: 5rem;width: 100%;overflow: hidden;background: #0099CC;color: #fff;margin-top: 14px;border-radius: 6px;}
.nav-box .nav-main {position:absolute}
.nav-box .nav-main ul{margin-left: -40px!important}
.nav-box .nav-main li{float: left;text-align: center}
.nav-box .nav-main li a{display:block;margin:0 1.4rem;line-height: 5rem;}
.nav-box .nav-main li.cur{color: #fff;background: #e91d0f}
.nav-box .nav-main li.cur a{color:#fff}
.nav-box nav>li>a:active{background: #ea1c0d;color:#fff;transform: scale(1.2)}
.nav-box nav>li>a:hover,.nav-box nav>li>a:focus{ z-index: 1;color:#fff;transform: scale(1.2);background:#ea1c0d}
.list-header .logo strong{display: none}
/*main*/
.main-container .product-user img{width:30px;height:30px;border-radius: 50%;}
.main-container .products-grid{padding:0}
.products-grid .item .product-image img{width: 100%; max-height: 352px;object-fit: cover;border-top-left-radius: 0.25rem;border-top-right-radius: 0.25rem;}
.products-grid .item{padding:8px;}
.products-grid .item .item-list{box-shadow:0 2px 8px rgba(0,0,0,.48);background:#fff;border-radius: 0.25rem;}
.products-grid .item .item-list .ellipsis-btn{text-align: right; display: block; padding-right: 10px; padding-top: 5px}
.products-grid .item .item-list .dropdown-menu{left: 60%;right: 0!important;min-width: auto!important;margin-right: 10px;text-align: center}
.products-grid .item .product-name{padding-bottom:.375rem;display: flex;flex-wrap: wrap;}
.products-grid .item .product-name a{font-weight: normal;}
.products-grid .item:hover .actions{display:block}
.main-container .product-text{padding:10px 5px}
.main-container  .product-user span{display: inline-block;color:#7d7c7c}
.main-container .product-heart{width: 20%;display: inline-block}
.main-container .product-heart i{color:#0099CC}
.main-container .end-text{color:#7d7c7c}
.main-container .main-end{text-align: center;margin:1rem 0;position: relative;}
.main-container .end-text:after{content:'';width: 5%;height:1px;background: #7d7c7c;position:absolute;bottom:50%;z-index:1; right:40%}
.main-container .end-text:before{content:'';width:5%;height:1px;background: #7d7c7c;position:absolute;bottom:50%;z-index:1;left: 40%}
.Article-title{margin-bottom:3%}
.Article-img img{width:100%}
.more-user{background: #f5f4f4;margin:20px 0}
.more-user .user-titleImg{width:70px;height:70px}
.attention-btn{background: #0099CC;color:#fff;border-radius: 3px;padding:3px 6px}
.attention-btn:hover{color:#fff}
.user-signature{}
.change-btn{background:#0099CC;color:#fff}
.small-img{width: 40px; height:40px}
.user-Similar{color:#c5c3c3;padding-top:10px}
.user-name{padding:10px 0}
.change-user{padding:20px 0}
.text-indent-2{text-indent:2em}
.Article-content{margin:20px 0}
.Article-content p{line-height: 2}
.Article-comment{background: #f5f4f4;padding:20px 15px}
.background-white{background: white}
.Article-input{text-align: center;margin:20px 0}
.Article-input input{width : 80%;padding:5px 10px}
.Article-input button{background: #0099CC;color:#fff;padding:5px 20px;border-radius: 0}
.main-container .reviews-content p{padding-left:6%;line-height: 1.5}
.main-container .review-time i{padding-right:5px}
.main-container .review-time{margin:20px 0}
.main-container .reviews-all{margin:20px 0}
.main-container .reviews-box{margin-bottom:20px}
.main-container .reviews-all span{width: 40%;display: inline-block;border-top:1px solid #c6c6c6;padding:20px 0}
.main-container .review-more {padding:5px 0;border:1px solid #c6c6c6;margin-left:10%;text-align: center}
.correlation .change-btn{margin:0 15px}
.title-correlation{padding:20px 15px;}
.correlation .product-image{width: 100%;max-height:285px}
.correlation li{padding:5px}
.correlation ul{padding:0;}
.correlation .product-image img{width: 100%;height:235px;object-fit: cover}
.correlation .product-text{padding:10px 5px;background: #f5f4f4}
.correlation .price-box{padding:10px 5px;background: #f5f4f4}
.correlation .price-box .special-price .label{display: none}
.correlation .price-box .old-price .label{display: inline;color: #9b9a9a}
.correlation .price-box .old-price{float: right}
.correlation .product-name{line-height:1.3;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden}
.correlation-two .title-correlation{border:none}
.correlation-two {padding: 0}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    display: block!important;
    max-height: 450px;
    overflow-y: hidden;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
}
.pager{margin:52px 0 20px;margin:1.625rem 0 .625rem}
.pager li>.current{color:#fff;background:#757575}
.pager li{margin:0 10px;margin:0 .3125rem}
.pager li>span,.pager li>a{border-radius:0;border:none;color:#757575;background:none;line-height:1.44444444;padding:0 .83333333em}
.pager .first,.pager .last,.pager .jump{display:none}
.pager .next>a,.pager .next>span{float:none}
.pager .prev>span,.pager .next>span{color:#d6d7d8}
.pager .prev a,.pager .next a{color:#757575}
.pager .prev a:before{content:"<";padding:0 .83333333em}
.pager .next a:before{content:">";padding:0 .83333333em}
.pageto{color:#a5a5a6}
.pageto>input{width:30px;height:30px;border:1px solid #e4e2e2;border-radius:1px;text-align:center}
.pageto>button{height:30px;border:1px solid #e4e2e2;border-radius:1px;background-color:#f7f7f7;;border-radius:1px}
.required-login{padding: 50px;border: 1px solid #cdcdcd;font-weight: bold}
.required-login a{color: #337ab7}
.forum-post-edit .form-control,.forum-post-publish .form-control{margin-bottom: 4px;}
/*home*/
@media (max-width:768px){
    html{font-size: 62.5%;}
    body{font-size: 1.4rem;}
    .header .search-box{margin: 0 2%; width: 96%;}
    .index-home .index-main{margin: 12px 3px 50px!important}
    .main-container{padding-top:110px}
    .forum-post-list .main-container{padding-top: 30px}
    .header .search-nav{padding:.45rem 0 0 0;background: #f9f9f9}
    .header .quick-search{padding:30px}
    .nav-box .nav-main{padding: 0!important}
    .nav-box .nav-main ul{margin-left: -40px!important}
    .nav-box .nav-main li{}
    .nav-box .nav-main li a{display:block;margin:0 .5rem!important}
    .header .nav-main .nav>li>a{line-height: 1rem}
    .forum-category .posts-list li{padding: 3px!important}
    .container{padding:0!important}
    .products-grid .item .item-list{box-shadow:none;border: 1px solid #d9d9db;background:#fff;border-radius: 0.25rem;}
    .products-grid .item .item-list .ellipsis-btn{text-align: right; display: block; padding-right: 10px; padding-top: 5px}
    .products-grid .item .item-list .dropdown-menu{left: 60%;right: 0!important;min-width: auto!important;margin-right: 10px;text-align: center}
    .products-grid .item .product-name{text-align: center}
    .header .nav-main .nav>li>a{line-height:1.3rem!important}
    .header .nav-main .nav>li+li>a{border-top:1px solid #ccc}
    .forum-post .page-title .title{text-align: center;width: 100%!important}
    .forum-post form .fieldset .buttons-set .btn, .forum-post-reply form .fieldset .buttons-set .btn, .forum-post-dynamic form .fieldset .buttons-set .btn{padding: 5px 6px!important}
    .title-correlation{padding: 10px 10px!important}
    #cart .tfoot .totals .selected,#cart .tfoot .totals .selected+.label{display:none}
    .forum-post .header,.forum-post .footer .mobile-footer-bar,
    .forum-post-dynamic .header,.forum-post-dynamic .mobile-footer-bar,
    .forum-account .header,.forum-user-space .header,
    .forum-user-space .mobile-footer-bar,
    .forum-post-list .header,.forum-post-list .mobile-footer-bar{display: none!important}
    .forum-post .main-container{padding-top: 50px!important}
    .forum-user-space .main-container{padding-top: 25px!important}
    .forum-post .post-content{width: 100%;overflow: hidden;padding: 0px 10px}
    .forum-post .post-content img{width: 100%}
    .forum-post .post-content h4{line-height: 2}
    .forum-post .post-content p{margin: 0;line-height: 20px}
    #product-media .carousel-indicators li{width: 30px!important;height: 5px!important}
    #product-media{padding: 0!important}
    #product-media .carousel-indicators li{background: #fff!important}
    #product-media .carousel-indicators li.active{background:#fe0129!important}
    #product-media .carousel-indicators{bottom: 6px!important}
    .forum-post .more-user{margin: 0!important}
    .forum-post .author{width: auto;overflow: hidden;padding-bottom: 5px;background: #f5f4f4}
    .forum-post .author .user-titleImg{width: 50px!important;height: 50px!important;display: inline-block}
    .forum-post .author p{display: inline-block;}
    .forum-post .author .follow{line-height: 4}
    .forum-post .form-review .fieldset .form-control{padding: 6px 7px!important}
    .forum-post.modal-open .form-review .fieldset .form-control{padding: 6px 0px!important}
    .forum-post .post-view{padding: .375rem!important}
    .forum-post .post-view li{margin-bottom: 0!important;border-bottom: 1px dashed #c0c0c0}
    .forum-post .post-view .details{padding-left: 2rem!important}
    .forum-post .post-view .replies .details{padding-left: 0!important}
    .forum-post .post-view .details .toolbar{bottom: 0!important}
    .forum-post .post-view .replies{margin: 5px 20px 0 50px!important;background: #fff!important;border: 1px solid #ccc}
    .forum-post .post-view .replies:last-child{border-bottom: 1px solid #ccc}
    .forum-post .mobile-post-top,.forum-user-space .mobile-post-top,
    .forum-post-list .mobile-post-top{width: 100%;overflow: hidden;position: fixed;top: 0;left: 0;z-index: 16;background: #fff;border-bottom: 1px solid #cdcdcf}
    .forum-post .mobile-post-top img{width: 50px;height: 50px;display: inline-block}
    .forum-post .mobile-post-top div,.forum-user-space .mobile-post-top,.forum-post-list .mobile-post-top{line-height: 30px;}
    .forum-post .mobile-post-top div .fa,.forum-user-space .mobile-post-top div .fa,.forum-post-list .mobile-post-top div .fa{color: #8d8d8d}    
    .forum-post .mobile-post-bottom{width: 100%;overflow: hidden;position: fixed;bottom: 0;left: 0;z-index: 10;background: #fff;padding: 10px 0;border-top: 1px solid #cdcdcf}
    .forum-post .mobile-post-bottom div{border-right: 1px solid #e7a8a4}
    .forum-post .mobile-post-bottom div:last-child{border: none}
    .forum-post .mobile-post-bottom a{width: 100%;color: #8b8b8b}
    .forum-post .mobile-post-bottom a span{display: inline-block}
    .forum-post .mobile-post-bottom a span.fa{}
    .forum-post .products-grid{margin-bottom: 50px!important}
    .products-grid .item .product-image img{padding: 0!important}
    .attention-content .attention-box .Product-box .Product-cont{text-indent: 0!important}
    .correlation{padding:20px 0px 0px!important;border: 0!important}
    .correlation ul{margin-top: 15px!important}
    .forum-post-publish .fieldset,.forum-post-edit .fieldset{margin-bottom: 50px!important}
    .forum-post-publish .images .preview,.forum-post-edit implies .preview{width: 50px!important;height: 50px!important;display: inline-block;text-align: center}
    .forum-post-publish .images .preview,.forum-post-publish .images .add-image,
    .forum-post-edit .images .preview,.forum-post-edit .images .add-image{position:relative;width:50px!important;margin-right:6px;height:50px!important;display:inline-block;border:1px solid #ccc;color:#ccc;padding:0;line-height:50px!important;font-size:20px!important;text-align:center;vertical-align:middle;cursor:pointer!important}
    .forum-post-publish .images .preview:hover:after,
    .forum-post-edit .images .preview:hover:after{content:"\d7"!important;color:#fff!important;display:block!important;width:50px!important;height:50px!important;position:absolute;top:0;left:0;background:#000!important;background:rgba(0,0,0,.5)!important;z-index:2}
    .forum-post-publish .images .preview img,.forum-post-edit .images .preview img{max-width:50px!important;max-height:50px!important;vertical-align:top}
    .forum-post-publish .images .preview~.preview~.preview~.preview~.preview~.add-image,
    .forum-post-edit .images .preview~.preview~.preview~.preview~.preview~.add-image{display:none!important}    
    .forum-post-edit .publish-plus{width: 50px!important; height: 50px!important; line-height: 50px!important; color: #c6c6c6!important}
}

/*follow*/
@media (max-width:768px){
    .forum-post-dynamic .main-container,.forum-account .main-container{padding-top: 0px}
    .forum-post-dynamic .mobile-post-top{width: 100%;overflow: hidden;position: fixed;top: 0;left: 0;z-index: 10;background: #fff;border-bottom: 1px solid #cdcdcf}
    .forum-post-dynamic .mobile-post-top div .fa{color: #8d8d8d}
    .forum-post-dynamic .background-white{margin-top: 40px;background: #f4f5f9;padding: 0!important}
    .forum-post-dynamic .attention-content .attention-box{background: #fff!important;width: 96%;overflow: hidden;border-radius: 1rem;margin: 2%;}
    .forum-post-dynamic .main-container .product-user span{float: right;line-height: 30px}
    .forum-post-dynamic .attention-content .attention-box .product-user{padding: 0}
    .forum-post-dynamic .attention-content .attention-box .Product-box{padding: 0 30px}
    .forum-post-dynamic .attention-content .attention-box .btn{border:1px solid #cdcdcd;padding: 3px 12px!important}
}

/*personal*/
@media(max-width:768px){   
    .account-main .background-white{padding:0!important;width: 100%;overflow: hidden}
    .userSpace-main .userSpace-head{background-color: rgba(255,255,255,0.7)!important;margin: 0!important;position: static!important}
    .userSpace-main .userSpace-head h5.edit a{background: #fff;padding: 5px 8px;border-radius: 5px}
    .forum-account .mall{background: #fff;border-top: 1px solid #d9d9d9;border-bottom: 1px solid #d9d9d9;margin: 15px auto!important;width: 100%;overflow: hidden}
    .background-white{background: none!important}
    .userSpace-main .userSpace-link{margin:0 0 20px!important;padding:0!important}
    .userSpace-main .userSpace-headBg{position: static!important}
    .account-main .col-main{padding: 0!important}
    .userSpace-main .userSpace-head_content{margin: 0!important;padding: 30px 0 11px!important}
    .account-main .nav-tabs>li{text-align: center;}
    .account-main .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
        border: 1px solid #ddd!important;
        border-bottom: 0!important;
    }
    .account-main .nav-tabs>li:last-child.active>a, .nav-tabs>li:last-child.active>a:focus, .nav-tabs>li:last-child.active>a:hover{
       padding: 0.25rem;
    }
    .forum-account .row{margin: 0!important}
    .forum-account .products-grid .item .product-image img{padding: 5px!important}
    .forum-account .dropdown-menu>li>a{padding: 3px 14px!important}
    .account-main .product-user .product-userName{top: 15px!important}
    .account-main .products-grid{margin: 20px 14px 0!important}
    .account-main .products-grid .item{padding: 0 5px!important}
    .account-main .products-grid .publish-plus{background: #fff}    
    .account-main .col-main .fieldset .input-box{margin: 15px 5px 30px!important}
    .account-main .col-main .fieldset .input-box:first-child{margin: 60px 5px 30px!important}
    .forum-post-publish .fieldset .cell .form-control,.forum-post-edit .fieldset .cell .form-control{padding: 6px 6px!important}
    .account-main .col-main .page-title{position: fixed;top: 0;z-index: 9;background: #fff!important;width: 100%!important;border-bottom: 1px solid #cdcdcf!important;padding: 5px 5px!important}
    .account-main .col-main .page-title a,.account-main .col-main .page-title>span{display: inline-block!important}
    .account-main .col-main .page-title span:last-child{text-align: center}
    .forum-account .userSpace-head,.forum-account .mall,.forum-account .mobile-footer-bar{display: none!important}
    .forum-account.forum-account-dashboard .userSpace-head,
    .forum-account.forum-account-dashboard .mall,
    .forum-account.forum-account-dashboard .mobile-footer-bar{display:block!important}
    .forum-post-publish .fieldset .buttons-set,.forum-post-edit .fieldset .buttons-set{width: 100%;background: #0099CC;color: #fff;position: fixed;bottom: 0;left: 0}
    .forum-post-publish .fieldset .buttons-set .btn,.forum-post-edit .fieldset .buttons-set .btn{background: transparent;border: 0;padding: 10px}
    .draft-main .draft-cont li{margin-bottom: 8px}
    .draft-main .draft-cont .draft-list{background: #fff!important;margin-bottom: 0!important;border: 1px solid #ccc;width: auto;overflow: hidden}
    .liked-main .linked-cont .linked-link{text-indent: 4em}
    .liked-main .linked-cont .linked-listBox{height: auto!important}
    .account-main .settings{line-height: 30px;z-index: 11;position: absolute;top: 10px;}
    .account-main .settings a:last-child{margin-right: 15px}
    .forum-account .userSpace-link ul{margin-bottom: 0!important;border-top-left-radius: 0.5rem;border-top-right-radius: 0.5rem;}
    .account-main .col-left{position: fixed;z-index: 98;width: 100%;top: 40px;}
    .account-main .col-left .collapse.in{position: absolute;top: 0px;z-index: 99;width: 100%}
    .draft-main .draft-cont ul{margin: 0!important}
    .draft-main .message-box{padding: 0;margin:60px 0!important}
    .forum-post-reply.modal-open .input-box,.forum-post-reply.modal-open .buttons-set{padding: 0;margin: 0px auto 15px}
    .forum-post-reply.modal-open .input-box .form-control{padding: 6px 5px!important}
    .col-left .nav nav{display:inline-block;text-align:left;width: 100%;overflow: hidden}
    .forum-account-dashboard .userSpace-head .user-name{line-height: 1;margin-bottom: .5em}
    .col-left .nav .page-title .fa{color: #565656!important}
    .account-main .col-left .nav dt,.account-main .col-left .nav dd{text-align: left!important;padding-left: 10px!important;border-bottom: 1px solid #d9d7d8}
    .account-main .col-left .nav dd:last-child{border-bottom: 0!important}
    .account-main .col-left .nav dl > dd{padding-right: 10px}
    .account-main .col-left .nav dl a span{line-height: 2.8}
    /*    .account-main .col-left .collapse.in .page-title{border-bottom: 1px solid #cdcdcf}*/
    .account-main .col-left .collapse.in dt{border: none!important;background: #f4f5f9!important}
    .account-main .col-left .nav dl a{text-align: left!important}
}
/*关注动态*/
.attention-main .attention-plus{background: #f5f4f4;border:1px solid #dfdfdf;padding:10px;margin-top: 20px}
.attention-main .attention-plus a{}
.attention-main .attention-plus i{float: right;padding-right:10%;color: #000}
.attention-content .product-user img{width: 60px;height: 60px;border-radius: 30px}
.attention-content .user-name{display: inline-block;padding:0; vertical-align: middle}
.attention-content .attention-box{background: #f5f4f4;margin:20px 0 10px 0;padding:10px;overflow: hidden;width: 100%}
.attention-content .attention-box ul,.attention-content .attention-box li{padding:0;align-items: center;}
.attention-content .attention-box .img-number{color: white;position: absolute;right: 30px;bottom:5px}
.attention-content .attention-box .content-img img{height: 130px;width:100%;object-fit: cover}
.attention-content .attention-box .content-img{}
.attention-content .attention-box .Product-box .Product-title{color:#000;}
.attention-content .attention-box .Product-box .Product-cont{text-indent:2em;line-height:1.5;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden}
.attention-content .attention-box .Product-box{padding:15px 20px}
.attention-content .attention-box .Product-btn{color:#8c8c8c}
.attention-content .attention-box .Product-btn li:last-child{border:none}
.attention-content .attention-box .Product-btn i{}
.attention-content .attention-box .product-user{padding:10px}

/*用户空间*/
.userSpace-main .background-white{padding:0 5px}
.userSpace-main .userSpace-head{position: relative;width:100%;background: url("../../images/img-3.jpg")no-repeat;height: 286px;margin:20px 0;text-align: center;background-size: cover}
.user-titleImg{width: 70px;height:70px}
.userSpace-main .attention-btn{padding:1px 6px;color:#fff;position: absolute;bottom: 2px}
.userSpace-main .user-plus{display: block;position: relative}
.userSpace-main .userSpace-headBg{position: absolute;left:0;right:0;top:0;bottom:0;width: 100%;height:286px;text-align: center; background:rgba(255,255,255,0.6)}
.userSpace-main .userSpace-link{padding:0 25%;margin:0 0 40px 0}
.userSpace-main .userSpace-head_content{margin:30px 0}
.userSpace-main .userSpace-link .notice:hover{color:#fff}
.userSpace-main .publish-btn{margin:30px 0}
.userSpace-main .products-grid .item{padding: 8px}
.product-user .product-userName{position:relative;top:5px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap}
.userSpace-main .publish-btn span{margin:20px 0;background: #c6c6c6;padding:10px 30px;color:#fff}
.notice {width:20px;height:20px; line-height:20px; color:#fff; text-align:center;background-color:#f00;border-radius:50%;position:absolute;right:18px; top:5px}

/*个人中心*/
.account-main .login-account{position: absolute;top:10px;text-align: right;}
.account-main .login-account i{color:#0099CC;}
.account-main .userSpace-link{padding:0 15%}
.account-main .userSpace-link .notice{right:0}
.account-main .userSpace-link ul{background: rgba(255,255,255,0.7);padding:10px;display: flex;}
.account-main .userSpace-link .a-block i{color:#565656}
.account-main .userSpace-link li{text-align: center;position: relative;}
.account-main .notice{right:0}
.account-main .col-left{padding: 0}

.account-main .col-left .leftnav{padding: 0;text-align:center; width: 100%}
.col-left .leftnav .page-title{background:#c6c6c6;padding:10px;font-weight:bold;color:#000000;width: 100%}
.col-left .leftnav .page-title .fa{color:#009b24;}
.col-left .leftnav .nav-item{width: 100%;}
.account-main .col-left .leftnav .navbar-collapse{background-color: #fff;}
.account-main .col-left .leftnav dt{border-top:1px solid #c6c6c6;color:#000;font-weight:bold;text-align: center;letter-spacing: 3px}
.account-main .col-left .leftnav dl a{text-align: center;line-height:2.5;color:#000;  font-weight: 200}
.account-main .col-left .leftnav dl a.active,.account-main .col-left .leftnav dl a:focus{color:#0099CC}
.account-main .col-left .leftnav dl a:hover{color:#0099CC}
.col-left .leftnav dl a.active{color:#007ec6;background:#eee;}
.account-main .col-left .leftnav dt:first-child{margin-top:0;}

.account-main .background-white{padding:0 15px;width: 100%;overflow: hidden}
.account-main .products-grid{margin:30px 0}
.account-main .products-grid .publish-plus{text-align: center}
.account-main .products-grid .publish-plus i{text-align: center;}
.account-main .products-grid .publish-plus a{display: block;position: relative;border: 1px solid #c6c6c6;height: 220px;padding-top: 80px}
.account-main .products-grid .publish-plus span{display: block;padding-top:50px}
.account-main .main-title .main-publish{padding:5px 60px;background: #c6c6c6;background: linear-gradient(-45deg, transparent 24px, #c6c6c6 0);display: inline-block;margin-bottom: 0;}
.account-main .main-title .main-publish:hover{padding:5px 60px;background: #c6c6c6;background: linear-gradient(-45deg, transparent 24px, #c6c6c6 0)}
.account-main .main-title .main-collect{padding: 5px 60px;background: linear-gradient(-70deg, transparent , #e5e2e2 0) right, linear-gradient(135deg, transparent 24px, #e5e2e2 0) left;background-size: 50% 100%;background-repeat: no-repeat;position: relative;left:-50px;border: 1px solid #c6c6c6}
.account-main .main-title .main-collect:hover{padding: 5px 60px;background: linear-gradient(-70deg, transparent , #e5e2e2 0) right, linear-gradient(135deg, transparent 24px, #e5e2e2 0) left;background-size: 50% 100%;background-repeat: no-repeat;position: relative;left:-50px;border: none}

.account-main .col-main .nav-tabs>li>a{border:0}
.account-main .product-heart{width:23%}
.account-main .products-grid .item .product-image img{padding-top:0}
.account-main .product-user .product-userName{top:18px;width: 53%}
.account-main .product-user .publish-time{display: block;font-size: 12px;}
.account-main .products-grid .item{padding: 0 12px}
.account-main .products-grid .item .product-name{padding-bottom:0}
.account-main .col-main .page-title{padding: 5px 60px;background: linear-gradient(-45deg, transparent 24px, #e5e2e2 0);width: 200px}
.account-main .col-main .fieldset .input-box{margin: 30px 0}

/*发布文章*/
.PublishArticle-main  .publish-cont{margin:30px 0;padding:0 30px}
.PublishArticle-main  .form-box select{display: block;height: 34px; padding: 6px 12px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.PublishArticle-main  .form-box input{width: 90%}
.PublishArticle-main  .push-btn{margin:20px 0}
.PublishArticle-main  .color-c6{background: #e6e6e6}
.PublishArticle-main  .color-c6:hover{background: #fff}
.PublishArticle-main  .collapse .notice{right: 20px}
.PublishArticle-main  .text-input{height: 300px;border:1px solid #c6c6c6;margin:20px 0}
.PublishArticle-main  .form-box label{float: left;line-height: 34px;font-weight: normal;letter-spacing: 2px}
.forum-post-publish .fieldset .label{display: inline-block}
.forum-post-publish .fieldset .cell{display: inline-block}
.forum-post-publish .fieldset .cell .form-control,.forum-post-publish .fieldset .cell img{display: inline-block;width: auto}
.forum-post-publish .fieldset .cell .fa-search,.forum-post-edit .fieldset .cell .fa-search{position: relative;left: 26px}
.forum-post-publish .fieldset .cell .btn-search,.forum-post-edit .fieldset .cell .btn-search{position: relative;right: 60px}
.forum-post-publish .images .preview,.forum-post-edit implies .preview{width: 100px;height: 100px;display: inline-block;text-align: center}
.forum-post-publish .images .preview,.forum-post-publish .images .add-image,
.forum-post-edit .images .preview,.forum-post-edit .images .add-image{position:relative;width:100px;margin-right:6px;height:100px;display:inline-block;border:1px solid #ccc;color:#ccc;padding:0;line-height:100px;font-size:30px;text-align:center;vertical-align:middle;cursor:pointer}
.forum-post-publish .images .preview:hover:after,.forum-post-edit .images .preview:hover:after{content:"\d7";color:#fff;display:block;width:100px;height:100px;position:absolute;top:0;left:0;background:#000;background:rgba(0,0,0,.5);z-index:2}
.forum-post-publish .images .preview img,.forum-post-edit .images .preview img{max-width:100px;max-height:100px!important;vertical-align:top}
.forum-post-publish .images .preview~.preview~.preview~.preview~.preview~.add-image,
.forum-post-edit .images .preview~.preview~.preview~.preview~.preview~.add-image{display:none}
.forum-post-edit .fieldset .label{display: inline-block}
.forum-post-edit .fieldset .cell{display: inline-block}
.forum-post-edit .fieldset .cell .form-control,.forum-post-publish .fieldset .cell img{display: inline-block;width: auto}
.forum-post-edit .publish-plus{width: 100px; height: 100px;display: inline-block; text-align: center; line-height: 100px; color: #c6c6c6}
.forum-post-edit .images .preview{width: 100px;height: 100px;display: inline-block;text-align: center}
.forum-post-edit .images .preview img{width: 100%}
/*我的草稿*/
.draft-main .draft-cont li{padding: 0 5px}
.draft-main .draft-cont .draft-list{border:1px solid #c6c6c6;padding: 0 5px;background:#f9f9f9;margin-bottom: 20px;border-radius: 0.25rem;}
.draft-main .draft-cont .draft-list .product-image img{width: 100%;}
.draft-main .draft-cont ul{padding: 0;margin:30px 0}
.draft-main .draft-cont .draft-listName .product-userName{width: 60%}
.draft-main .draft-cont .close-btn{position: relative;bottom:10px}
.draft-main .draft-cont .publish-btn{padding: 2px 18px; margin: 0 5px;margin-bottom:10px}
.draft-main .notice{right:18px}
.draft-main .draft-plus{height:294px;text-align: center;line-height: 294px}
.draft-main .draft-plus i{}
.draft-main .draft-plus a{display: block }
.draft-main .draft-list .product-userName{width: 30%}
.draft-main .draft-cont .draft-list .product-text{padding:15px;width: auto;overflow: hidden}
.draft-main .draft-cont .draft-list .product-text a{display:block;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;color: #016eac;text-decoration: underline}
.draft-main .draft-list .draft-title{width: 49%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap}
/*.product-name{overflow: hidden; text-overflow: ellipsis; white-space: nowrap}*/
/*我赞过的*/
.liked-main .linked-cont .publish-time{display: inline-block}
.liked-main .linked-cont .close-btn{bottom:0;padding: 0 10px}
.liked-main .linked-cont .product-text {display: inline-block}
.liked-main .linked-cont .product-text2 {padding: 10px 0}
.liked-main .linked-cont .linked-user {padding: 0}
.liked-main .linked-cont .linked-listBox{height:175px}
.liked-main .linked-cont .linked-user  .product-text .userName{display: inline;padding:0 10px;color:#565656;text-decoration: none}
.liked-main .linked-cont .linked-user .linked-userImg {float: left}
.liked-main .linked-cont .linked-user span {display: inline-block}
.liked-main .linked-cont .linked-link .a{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;color: #016eac;text-decoration: underline}
.inline-bolck{display: inline-block}
.liked-main .linked-cont .linked-link{overflow: hidden; text-overflow: ellipsis; white-space: nowrap}
/*关注列表*/
.draft-main .draft-cont .watchlist-listBox{padding:10px;border:1px solid #c6c6c6;background: #fff;overflow: hidden}
/*我的消息*/
.draft-main .message-listBox .draft-list{width: 100%;overflow: hidden}
/*main end*/

/*footer*/
.footer .footer-nav{padding:0 10%;margin:1.2rem 0}
.footer .footer-border{border-top:1px solid #c6c6c6}
.footer .footer-nav li{text-align: center;float: left;width: 20%;color: #7d7c7c}
.footer .footer-nav li a:hover{color:#0099CC;}
.footer .mobile-footer-bar{position:fixed;width:100%;bottom:0;left:0;z-index:9;text-align:center;background:#fff}
.footer .mobile-footer-bar a{color:#4a4a4a;line-height:1.83333333;padding:.25rem 0 0; font-size: 1rem;}
.footer .mobile-footer-bar .fa{display:block;line-height:1;color:#898989;font-size: 2rem;}
.footer .mobile-footer-bar .fa:before{}
.index-home .index-main{margin:0 auto 30px}
/*footer end*/


@media (max-width:768px){
    .header{position:fixed;top:0;left:0;width:100%;z-index:9}
    img.captcha{cursor:pointer}
    .required-login{margin:0;padding:20px 0;text-align:center}
}
@media (max-width:450px){
    html{font-size: 62.5%;}
    body{font-size: 1.4rem;}
    .header .logo{padding-top:5px}
}
@media (max-width:768px){
    .product-essential .product-info{padding-right:14px;padding-right:.4375rem}
    .bulk-sale-detail{padding:40px 16px 0;padding:40px .5rem 0}
    .bulk-sale-detail .btn.btn-submit{width:100%}
    .checkout-order .expiration{margin-top:0}
    .header .quick-search{padding:0;margin-top: 1rem;}
    .nav-box{background:#0099CC;margin: 1rem;}
    .main-container .product-user span{width: 50%}
    .main-container .product-user img{width:30px;height:30px;border-radius: 15px}
    .Article-input input{width : 70%;padding:5px 10px}
    .userSpace-main .userSpace-link .notice{right:15%;top:3px}
    .main-container .product-text{padding:5px}
    .main-container .product-user .product-heart{position: relative;}
    .main-container .product-user .product-heart span{position: absolute;;top: -8px; right:4px;color: red;}
}
@media (min-width:768px){
    .page-home .products-grid .item:nth-child(3n+1){clear:both!important}
    .customer-account .fieldset .input-box .form-control,.retailer-account .fieldset .input-box .form-control{width:276px}
}
@media (min-width:768px) and (max-width:991px){
    html{font-size:62.5%;}
    body{font-size: 1.4rem;}
    .sales-order-list .page-content .table td{padding:4px}
    .sales-order-list .page-content .table td img{width:50px;height:auto;max-height:50px}
    .products-grid .item{width:32.42392444%}
    .products-grid .item:nth-child(3n+1){margin-left:0;clear:both}
}
@media (min-width:992px){
    .products-grid .item:nth-child(4n+1){
        margin-left:0;clear:both
    }
}
/*帖子详情页*/
.forum-category .page-title .title{float:left;line-height:40px}
.forum-category .page-title .title h2{}
.forum-category .page-title .title>*{display:inline-block}
.forum-category .page-title .feed{width:60px}
.forum-category .page-title .feed a{color:#999;vertical-align:text-top;line-height:1}
.forum-category .page-title .feed a+a:before{content:"/"}
.forum-category .page-title .new{float:right;padding:10px 0;padding:.3125rem 0}
.forum-category .page-title .new .btn{padding:0 .75em;line-height:2}
.forum-category .page-title .new .btn+.btn{margin-left:10px}
.forum-category .posts-list li{margin:0;padding:8px}
.forum-category .posts-list li:hover{background:#fafafa;border-radius:5px}
.forum-category .posts-list .title a{display:block;line-height:1;margin-bottom:.5em}
.forum-category .posts-list .detail{color:#999;line-height:1}
.forum-category .posts-list .detail span{padding:0;margin-right:10px}
.forum-post .page-title{margin:0;padding:16px 20px}
.forum-post .page-title .title{float:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:0;line-height:1.5;width:calc(100% - 100px)}
.forum-post .page-title .author-only{float:right;border:1px solid #eee;border-radius:1px;padding:0 .5em;line-height:22px;background:#fcfcfc;background:linear-gradient(to bottom,#fff,#fcfcfc)}
.forum-post .page-title .author-only:hover{background:#fff}
.forum-post .post-view{border-collapse:collapse;width:100%;background: #f5f4f4;padding: .625rem;overflow: hidden;}
.forum-post .post-view li{margin-bottom: 20px;border-bottom: 1px dashed #c0c0c0}
.forum-post .post-content{width: 100%;overflow: hidden;padding: 20px 10px}
.forum-post .post-content img{width: 100%}
.forum-post .post-content h4{line-height: 2}
.forum-post .post-content p{margin: 0;line-height: 20px}
.forum-post .post-view .profile .avatar{text-align:center;line-height:100%;float: left}
.forum-post .post-view .profile .avatar img{max-height:100%;max-width:100%}
.forum-post .post-view .profile .name{text-align:left;line-height:3;text-indent: .375rem}
.forum-post .post-view .details{vertical-align:top;padding-left:56px;padding-left:1.5rem;;padding-bottom:16px;padding-bottom:.625rem;position:relative}
.forum-post .post-view .replies{margin:0px 20px 0 113px;padding: 10px 10px;background: #eaeaec;border-bottom: 1px solid #d9d9d9}
.forum-post .post-view .replies:last-child{border-bottom: 0}
.forum-post .post-view .replies .name{line-height:2;font-weight: 700}
.forum-post .post-view .replies .details{padding-left: 0}
.forum-post .post-view .details .poll{border:1px solid #eee}
.forum-post .post-view .details .poll li{padding:.5em;width:100%;display:block}
.forum-post .post-view .details .poll li+li{border-top:1px solid #eee}
.forum-post .post-view .details .poll li input{margin:0;vertical-align:middle}
.forum-post .post-view .details .poll .progress{margin:0}
.forum-post .post-view .details .poll~.comment{margin:10px 0;text-align:right}
.forum-post .post-view .details .poll~.comment:before{content:"("}
.forum-post .post-view .details .poll~.comment:after{content:")"}
.forum-post .post-view .details .toolbar{text-align:right;position:absolute;right:16px;right:.5rem;bottom:10px}
.forum-post .post-view .details .toolbar>*{display:inline-block;padding:0 6px;line-height:1;color:#999}
.forum-post .post-view .details .toolbar>*:not(:first-child){border-left:1px solid}
.forum-post .pagination{display:block;background:#f7f8f9;border:1px solid #eee;border-top:none;margin:0;padding:20px;padding:.625rem;color:#666;line-height:2}
.forum-post .pagination:empty{display:none}
.forum-post .pager{display:inline-block;margin:0}
.pager li>a, .pager li>span{border-radius:5px!important}
.pager .next>a, .pager .next>span{float: none;clear: both!important}
.forum-post form .fieldset,
.forum-post-reply form .fieldset,
.forum-post-dynamic form .fieldset{background:#f5f4f4;padding:20px 20px 0px;padding: .375rem  .375rem 0px;width: 100%;overflow: hidden}
.forum-post form .fieldset .input-box,.forum-post form .fieldset .buttons-set{margin: 8px auto}
.forum-post form .fieldset blockquote,.forum-post-reply form .fieldset blockquote,.forum-post-dynamic form .fieldset blockquote{width: 100%;overflow: hidden;}
.forum-post form .fieldset .control-label,.forum-post-reply form .fieldset .control-label,.forum-post-dynamic form .fieldset .control-label{display: none}
.forum-post form .fieldset .input-box .form-control.captcha,.forum-post-reply form .fieldset .input-box .form-control.captcha,.forum-post-dynamic form .fieldset .input-box .form-control.captcha{display: inline-block;width: auto}
.forum-post form .fieldset input,.forum-post .fieldset textarea,.forum-post .fieldset button{border-radius: 0}
.forum-post form .fieldset .buttons-set .btn,.forum-post-reply form .fieldset .buttons-set .btn,.forum-post-dynamic form .fieldset .buttons-set .btn{color: #fff;background: #0099CC;padding: 5px 20px}
.forum-post form .fieldset .legend,.forum-post-reply form .fieldset .legend,.forum-post-dynamic form .fieldset .legend{line-height:3}
.forum-post form .fieldset .input-box:not(.captcha) .control-label{display:none}
.forum-post form .fieldset .buttons-set{text-align:right}
.forum-post .modal-dialog,.forum-post-reply .modal-dialog,.forum-post-dynamic .modal-dialog{margin: 16% auto!important}
.forum-poll-edit .options-list{list-style:decimal-leading-zero inside}
.forum-poll-edit .options-list li{padding:5px 0}
.forum-poll-edit .options-list .form-control{display:inline-block;width:auto}
.forum-poll-edit .options-list a{display:inline-block;width:1.5em;text-align:center;line-height:34px;vertical-align:top}
.forum-poll-edit .fieldset .form-control.captcha{display:inline-block;width:6em}
img.captcha{cursor:pointer}
#product-media{padding:5px 0px;margin-bottom:4px;margin-bottom:.1rem}
#product-media .bg{display:block;width:100%;background-repeat:no-repeat;background-position:center top}
#product-media .carousel-indicators{bottom:20px;}
#product-media .carousel-indicators li{width:12px;height:12px;border:none;background:#c5c5c5;margin:0 3.5px}
#product-media .carousel-indicators li.active{width:12px;height:12px;background:#fe0129;font-weight:normal}
#product-media .carousel-control{width:20px}
#product-media .carousel-control.left{background: none}
#product-media .carousel-control.right{background: none}
#product-media .carousel-control .fa{top:50%;left:0;position:absolute;line-height:1;margin-top:-30px}
/* 评论框 */
.cont-box{ width: 100%; height: 80px; border: 1px solid #f5f4f4; border-top-left-radius: 5px;  border-top-right-radius: 5px; float: left;}
.cont-box .text{height: 100%; border-radius: 5px; padding: 5px 10px; color: #999; resize:none; border: none;  outline: none; float: left;}

.tools-box{width: 100%; height: 30px; border: 1px solid #f5f4f4; border-bottom-left-radius: 5px;  border-bottom-right-radius: 5px; float: left;background-color: #fff}
.tools-box .operator-box-btn{ width: 85%; height: 30px; float: left;  }
.tools-box .operator-box-btn .face-icon{display: block; float: left; margin-top:5px; margin-left: 10px; color: #99cc66;  cursor: pointer;}
.tools-box .operator-box-btn .img-icon{display: block; float: left; margin-top:5px; margin-left: 10px;font-weight: lighter; color: #99cc66; cursor: pointer;}
.tools-box .submit-btn{ width: 15%; height: 30px; float: right; }

.tools-box .submit-btn input{ width: 100%; height: 100%; color: #fff; cursor: pointer; border: none; outline: none; background-color: #99cc66;}

/* 回复信息 */
#info-show{float: left;  width: 100%; margin-top: 20px;}
#info-show li{ width: 100%; height: auto; padding: 10px 0 20px 0; border-bottom: 1px dashed #c0c0c0; float: left;}
#info-show .head-face{width: 10%;  float: left; text-align: center;}
#info-show .head-face img{width: 50px; height: 50px; border-radius: 50%; box-shadow: 0 0 8px #c0c0c0;}

#info-show .reply-cont{ width: 89%; padding-right: 1%; float: right;}
#info-show .reply-cont  p{ min-height: 20px; line-height: 20px;}
#info-show .reply-cont .username{ color: #99cc66; margin-bottom: 5px;}
#info-show .reply-cont .comment-body{ color: #999; max-height: auto;}
#info-show .reply-cont .comment-footer{color: #c0c0c0; margin-top: 10px;}
